.dark-mode .social-icon {
    filter: invert(1);
}

h2 {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.display-4 {
    text-align: center;
    font-size: 2.5rem !important;
}

@media (max-width: 768px) {
    .container {
      font-size: 1.5em !important;
      overflow-x: auto !important;
      height: max-content !important;
    }
    .card-body {
      padding: 15px !important;
    }
    .card:hover {
      transform: none !important;
    }
    .card-body {
      width: auto !important;
    }
    pre[class*=language-] {
        text-align: center !important;
    }
}

@media (max-width: 768px) {
    .lead + .container {
      clear: both;
      margin-top: 20px;
    }
}

@media (max-width: 420px) {
    body {
        display: block !important;
    }
    .dark-mode .card-body [class*="language-"], .dark-mode pre[class*="language-"] {
        font-size: x-small !important;
    }
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #f2f2f2 !important;
}

code[class*="language-"], pre[class*="language-"] {
    font-size: small !important;
    color: #000 !important;
    text-shadow: none !important;
}

.dark-mode .card-body :not(pre) > code[class*="language-"],
.dark-mode pre[class*="language-"] {
    background: #161620 !important;
}

.dark-mode .card-body [class*="language-"], 
.dark-mode pre[class*="language-"] {
    font-size: small !important;
    color: #fff !important;
    text-shadow: 0 1px #000 !important;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
    color: #e49300 !important;
    background: none !important;
  }

/* */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.dropdown-item {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #fff !important; /* make the text color white */
    background-color: #191924 !important; /* make the background color dark */
    font-family: Arial, Helvetica, sans-serif !important;
}

.dropdown-item:hover {
    background-color: #6c757d; /* make the background color lighter on hover */
    color: #fff; /* keep the text color white on hover */
}
.dark-mode {
    background-color: hsl(240, 18%, 12%);
    color: #fff;
}

.dark-mode .navbar {
    background: #191924 !important;
    box-shadow:  0px 0.5px 0px rgb(138, 138, 138) !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dark-mode .card {
    background-color: hsla(0, 0%, 100%, 0.01);
    color: #ffffff;
}
.dark-mode .jumbotron {
    background-color: #292e33;
    background: var(--bg-url) repeat 0 0;
    animation: bg-scrolling-reverse 0.92s infinite;
    animation-timing-function: linear;
    background-blend-mode: difference;
    background-color: white;
}
.dark-mode .footer {
    background-color: #11111a !important;    
    color: #fff;
}
.dark-mode .timeline .container::before {
    background-color: #fff;
}

.dark-mode .about .card {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        var(--bg-url) repeat 0 0;
    background-color: #1c1c27;
    background-blend-mode: overlay;
}

.navbar {
    background: #191924 !important;
    box-shadow:  0 0.1rem 0 rgba(255, 255, 255, 0.18) !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-secondary {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #313242 !important;
    border-color: #343a40 !important;
}

.jumbotron {
    background: var(--bg-url) repeat 0 0;
    animation: bg-scrolling-reverse 0.92s infinite;
    animation-timing-function: linear;
    background-blend-mode: normal;
    position: relative;
    width: 100%;
}

.lead {
    font-size: 1.25rem !important;
    font-weight: 135 !important;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html,
body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
}

.lines {
    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    height: 100%;
    margin: auto;
}

.dark-mode .line::after {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 75%,
        #ffffff 100%
    );
}

.light-mode .line {
    background: #000;
}

.light-mode .line::after {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        #000 75%,
        #000 100%
    );
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0%;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    bottom: 0;
}

.line::after {
    content: "";
    display: block;
    position: relative;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        #000 75%,
        #ffffff 100%
    );
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    animation-delay: 2.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}

h1.display-3 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 4rem;
    line-height: 1.2;
}

main {
    min-width: -moz-available;
    background-blend-mode: overlay;
}

.dark-mode main {
    background-color: hsl(240, 18%, 12%);
}

.card {
    transition: transform 0.3s ease-in-out, min-height 0.3s ease-in-out,
        padding 0.3s ease-in-out, height 0.3s ease-in-out;
    background-color: #f2f2f2;
    overflow: hidden;
    min-height: 1px;
}

.card:hover {
    transform: scale(
        1.05
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.text-center {
    animation: tracking-in-expand-fwd 0.9s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;
}
@import "normalize.css";

@font-face {
    font-family: "Geist Sans";
    src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

:root {
    --border: hsl(280 10% 50% / 1);
    --card: hsl(0, 0%, 100%);
    --color: hsl(240 18% 0%);
    --border-width: 2px;
    --border-radius: 12px;
    --gradient: conic-gradient(
        from 180deg at 50% 70%,
        hsla(0, 0%, 98%, 1) 0deg,
        #eec32d 72.0000010728836deg,
        #ec4b4b 144.0000021457672deg,
        #709ab9 216.00000858306885deg,
        #4dffbf 288.0000042915344deg,
        hsla(0, 0%, 98%, 1) 1turn
    );
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

@property --start {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

body {
    background: var(--bg);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: "Geist Sans", "SF Pro Text", "SF Pro Icons", "AOS Icons",
        "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui !important;
    font-weight: 130 !important;
    color: var(--color);
}

.container {
    --spread: 60;
    display: flex;
    flex-wrap: wrap;
    flex-direction: var(--direction);
    gap: calc(var(--gap) * 1px);
    margin: 0 auto;
    justify-content: center;
    place-items: center;
    position: relative;
    padding: 2rem;
    touch-action: auto;
}

.dark-mode .col-sm-4 {
    background: hsl(240, 18%, 12%);
}

.row {
    gap: inherit;
    flex-wrap: initial !important;
}

:root {
    --bg-url: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC");
    --bg-width: 50px;
    --bg-height: 50px;
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: var(--bg-width) var(--bg-height);
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: var(--bg-width) var(--bg-height);
    }
}
