html {
    scroll-behavior: smooth;
}

.images {
    padding-top: 1%;
}

.carousel.vertical .carousel-inner {
    height: 100%;
    width: auto;
}

.carousel.vertical .carousel-item {
    transition: 0.6s ease-in-out;
}

.carousel.vertical .carousel-item-next.carousel-item-left,
.carousel.vertical .carousel-item-prev.carousel-item-right {
    transform: translate3d(0, 100%, 0);
}

.carousel.vertical .carousel-item-next,
.carousel.vertical .active.carousel-item-right {
    transform: translate3d(0, -100%, 0);
}

.carousel.vertical .carousel-item-prev,
.carousel.vertical .active.carousel-item-left {
    transform: translate3d(0, 0, 0);
}

.position-sticky {
    width: 200px;
    height: 100vh;
    overflow-y: auto;
    padding-top: 4%;
}

.nav .nav-link {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.scroll-nav {
    background: #000000;
    transition: all 0.23s ease-in-out;
    box-shadow: 0 0 1.5rem 0 rgba(255, 255, 255, 0.1);
}

.dark-mode h2, p {
    color: #fff;
}

h2, p {
    color: #fff
}

.container .lead {
    color: #000000 !important;
}

.dark-mode .container .lead {
    color: #fff !important;
}

.embed-responsive-16by9::before {
    padding-top: 46.3% !important;
  }

.seperator p {
    color: black;
}

.dark-mode .seperator p {
    color: #fff;
}

p1 {
    color: #fff;
}

.small-link {
    font-size: 0.8rem;
    margin-left: 1rem; 
}

.scroll-nav a {
    color: #fff !important;
}

.scroll-nav a:hover {
    color: #ca2121 !important;
}

@media (max-width: 768px) {
    .d-flex.flex-row {
      flex-direction: column;
    }
    .scrolling.scroll-nav {
      position: static;
      margin-bottom: 1rem;
    }
  }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .nav-link {
        font-size: 0.7rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .nav-link {
        font-size: 0.8rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-link {
        font-size: 0.85rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-link {
        font-size: 0.9rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .nav-link {
        font-size: 1.0rem;
    }
}

@media (max-width: 768px) {
    #myScrollspy .row {
      flex-direction: column;
    }
    #myScrollspy .seperator {
      text-align: left;
    }
    #myScrollspy .images {
      justify-content: center;
      max-width: 100%;
    }
    #myScrollspy img {
      max-width: 100%;
    }
  }

/*  */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.dropdown-item {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: #fff !important; /* make the text color white */
    background-color: #191924 !important; /* make the background color dark */
    font-family: Arial, Helvetica, sans-serif !important;
}

.dropdown-item:hover {
    background-color: #6c757d; /* make the background color lighter on hover */
    color: #fff; /* keep the text color white on hover */
}
.dark-mode {
    background-color: hsl(240, 18%, 12%);
    color: #fff;
}

.dark-mode .navbar {
    background: #191924 !important;
    box-shadow:  0px 0.5px 0px rgb(138, 138, 138) !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dark-mode .card {
    background-color: hsla(0, 0%, 100%, 0.01);
    color: #ffffff;
}
.dark-mode .jumbotron {
    background-color: #292e33;
    background: var(--bg-url) repeat 0 0;
    animation: bg-scrolling-reverse 0.92s infinite;
    animation-timing-function: linear;
    background-blend-mode: difference;
    background-color: white;
}
.dark-mode .footer {
    background-color: #11111a !important;    
    color: #fff;
}
.dark-mode .timeline .container::before {
    background-color: #fff;
}

.dark-mode .about .card {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        var(--bg-url) repeat 0 0;
    background-color: #1c1c27;
    background-blend-mode: overlay;
}

.navbar {
    background: #191924 !important;
    box-shadow:  0 0.1rem 0 rgba(255, 255, 255, 0.18) !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-secondary {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #313242 !important;
    border-color: #343a40 !important;
}

.jumbotron {
    background: var(--bg-url) repeat 0 0;
    animation: bg-scrolling-reverse 0.92s infinite;
    animation-timing-function: linear;
    background-blend-mode: normal;
    position: relative;
    width: 100%;
}

.lead {
    font-size: 1.25rem !important;
    font-weight: 135 !important;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html,
body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
}

h1.display-3 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 4rem;
    line-height: 1.2;
}

main {
    min-width: -moz-available;
    background-blend-mode: overlay;
}

.dark-mode main {
    background-color: hsl(240, 18%, 12%);
}

.card {
    transition: transform 0.3s ease-in-out, min-height 0.3s ease-in-out,
        padding 0.3s ease-in-out, height 0.3s ease-in-out;
    background-color: #f2f2f2;
    overflow: hidden;
    min-height: 1px;
}

.card:hover {
    transform: scale(
        1.05
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.text-center {
    animation: tracking-in-expand-fwd 0.9s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;
}
@import "normalize.css";

@font-face {
    font-family: "Geist Sans";
    src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

:root {
    --border: hsl(280 10% 50% / 1);
    --card: hsl(0, 0%, 100%);
    --color: hsl(240 18% 0%);
    --border-width: 2px;
    --border-radius: 12px;
    --gradient: conic-gradient(
        from 180deg at 50% 70%,
        hsla(0, 0%, 98%, 1) 0deg,
        #eec32d 72.0000010728836deg,
        #ec4b4b 144.0000021457672deg,
        #709ab9 216.00000858306885deg,
        #4dffbf 288.0000042915344deg,
        hsla(0, 0%, 98%, 1) 1turn
    );
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

@property --start {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

body {
    background: var(--bg);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: "Geist Sans", "SF Pro Text", "SF Pro Icons", "AOS Icons",
        "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui !important;
    font-weight: 130 !important;
    color: var(--color);
}

@media (max-width: 970px) {
    body {
        width:100%;
        font-size: 0.8rem;
        display:block;
    }
    #myScrollspy .row {
        flex-direction: column;
      }
      #myScrollspy .seperator {
        text-align: left;
      }
      #myScrollspy .images {
        justify-content: center;
        max-width: 100%;
      }
      #myScrollspy img {
        max-width: 100%;
      }
}

@media (max-width: 420px) {
    body {
        font-size: 0.8rem;
        width:70%;
    }
    img#splash {
        max-width: 100%;
        display: flex;
        position: inherit;
        padding-right: inherit;
    }
    .jumbotron-fluid {
        padding-right: 12% !important;
    }
    .scrolling.scroll-nav {
        position: static;
        margin-bottom: 1rem;
        display: flex;
        height: revert;
    }
}

.container {
    --spread: 60;
    display: flex;
    flex-wrap: wrap;
    flex-direction: var(--direction);
    gap: calc(var(--gap) * 1px);
    margin: 0 auto;
    justify-content: center;
    place-items: center;
    position: relative;
    padding: 2rem;
    touch-action: auto;
    left: 4%;
}

.dark-mode .col-sm-4 {
    background: hsl(240, 18%, 12%);
}

.row {
    gap: inherit;
    flex-wrap: initial !important;
}

:root {
    --bg-url: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC");
    --bg-width: 50px;
    --bg-height: 50px;
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: var(--bg-width) var(--bg-height);
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: var(--bg-width) var(--bg-height);
    }
}